#todolist {

  & > .container {

    & > h3 {
      padding: 1em 0.5em 0 0.5em;
      margin: 0;
    }

    & .itemslist-enter {
      transform: rotateY(90deg);
    }

    & .itemslist-enter.itemslist-enter-active {
      transform: rotateY(0deg);
      transition: transform .5s ease-in;
    }

    & .mdl-grid.list-item {
      color: #999;
    }
    
  }
}

